.container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
}

.aboutme{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: 105vh;
    height: fit-content;
    background-color: #6E4A44;
    padding: 0px;
    box-sizing: border-box;
}

.me_sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutme h3{
    font-size: 30px;
    font-weight: 700;
    color: #FAF0E6;
}

.aboutme p{
    font-size: 20px;
    font-weight: 400;
    color: #FAF0E6;
    margin-top: 10px;
}

.banner {
    max-height: 105vh;
    min-width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    max-height: 105vh;
}

@media (max-width: 768px){
    .container-about{
        padding: 20px;
    }

    .banner img{
        display: none;
    }

    .banner{
        display: none;
    }
    
}