@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;700&display=swap');

*{
    font-family: "Lato", sans-serif;
}

body{
    background-color: #4C3F39;
}

h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: .2em;
    color: #FFE79B;
}