@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;700&display=swap');

header{
    font-family: "Lato", sans-serif;
    width: 100%;
    z-index: 50;
    padding: 1rem;
    background-color: #eca3756b;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.menu{
    width: 100%;
    max-width: 500px;

}

.menu_item{
    font-size: 1.4rem;
    font-weight: 400;
}

.logo_span{
    color: #FAF0E6;
    font-weight: 700;
    font-size: 2rem;
}

.logo_span{
    transition: all 0.2s ease;
}

.logo_span:hover{
    color: #ffffff;
}

.menu_item{
    color: #FAF0E6;
    transition: all 0.2s ease;
}

.menu_item:hover{
    color: #ffffff;
}

.menu li{
    transition: all 0.2s ease;
}

.menu li:hover{
    transform: scale(1.2);
}

@media (max-width: 950px){
    header {
        flex-direction: column;
    }

    .menu_item{
        font-size: 20px;
    }

    .menu li{
        margin-top: 10px;
    }

}

@media (max-width: 400px){
    .menu_item{
        font-size: 16px;
    }

}

@media (max-width: 360px){
    .menu_item{
        font-size: 13px;
    }
  }