.presentation_container{
    height: 105vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 0 5em;

}

.me{
    width: 50%;
    max-width: 470px;
    min-width: 260px;
    border-radius: 100%;
    animation: floatingIcon 3s ease infinite 0.4s;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: .2em;
    color: #FAF0E6;
}

h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: .2em;
    color: #FFE79B;
}

p{
    font-size: 30px;
    font-weight: 400;
}

.dev{
    color: #DD58D6;
}

.social{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    
}

.social a{
    margin: 0 5px;
    color: #FFF;
    transition: all 0.3s ease;
}

.social a:hover{
    transform: scale(1.2);
}



@media (max-width: 950px){
    .presentation_container{
        flex-direction: column-reverse;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .me {
        margin-bottom: 50px;
    }

}

@media (max-width: 655px){
    h1{
        font-size: 40px;
    }

    h2{
        font-size: 35px;
    }
}