.presentation_container{
    height: 105vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5em;

}

.presentation_container img{
    border-radius: 100%;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: .2em;
    color: #FAF0E6;
}

h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: .2em;
    color: #FFE79B;
}

p{
    font-size: 30px;
    font-weight: 400;
}

.dev{
    color: #DD58D6;
}

.social{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    
}

.social a{
    margin: 0 5px;
    color: #FFF;
    transition: all 0.3s ease;
}

.social a:hover{
    transform: scale(1.2);
}

.me{
    width: 400px;
}

@media (max-width: 1169px){
    .presentation{
        margin-top: 10em;
    }
    
    .presentation_container{
        justify-content: center;
    }
}

@media (max-width: 778px){
    h1{
        font-size: 50px;
    }

    h2{
        font-size: 35px;
    }

    .hi{
        display: none;
    }

    .me{
        width: 270px;
    }

}

