.skills_logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 105vh;
    background-color: #6E4A44;
    padding: 0 5em;
}

.logos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
}

.slide{
    transition: all 0.3s ease;
    flex-shrink: 0;
    width: 50%;
    margin: 10px;
    min-width: 70px;
    margin: 10px auto;
}

.slide:hover{
    transform: scale(1.2);
}

@media (max-width: 824px){
    .logos{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        
    }
}

@media (max-width: 520px){
    .skills_logos{
        padding: 0 2em;
    }

    .logos{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        
    }

    .slide{
        min-width: 50px;
    }
}